html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/font/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background: #eee;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

#app{
  min-height: 100vh;
  display: flex;
}

#canvas-container {
  display: flex;
  margin:auto;
  position: relative;
}

.wrapper{
  box-shadow: 0px 0px 6px #333;
  margin:auto;
}

.wrapper canvas{
  display: block;
}

.coords {
  font-size: 1rem;
  color:#666;
  margin:0 0.5rem 0 0;
  display:inline-block;
  white-space: nowrap;
}

.coords div {
  height:var(--tile-size);
  text-align: center;
}

.lang {
  font-weight: bold;
}

.top-coords {
  position: absolute;
  left:0;
  top:-1.5rem;
}

.top-coords div,
.bottom-coords div{
  display: inline-block;
  height:auto;
  width:var(--tile-size);
  text-align: center;
}

.left-coords div,
.right-coords div{
  line-height:var(--tile-size);
  vertical-align: middle;
}


.left-coords {
  position: absolute;
  left:-2rem;
  top:0;
}

.right-coords{
  position: absolute;
  right:-2rem;  
  top:0;
}

.bottom-coords{
  position: absolute;
  bottom:-1.5rem;
  left:0;
}

.top-coords:before,
.bottom-coords:before,
.left-coords:before,
.right-coords:before {
  position: absolute;
  font-weight: bold;
  background: #aaa;
  color:#fff;
  font-size: 1rem;
  width: 22px;
  height: 22px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
}

.top-coords:before {
  content: 'X';
  left: 50%;
  top: 0;
  margin: -2.5rem 0 0 0;
  transform: translateX(-50%);
}

.bottom-coords:before {
  content: 'X';
  left: 50%;
  bottom: 0;
  margin: 0 0 -2.5rem 0;
  transform: translateX(-50%);
}

.left-coords:before {
  content: 'Y';
  top: 50%;
  left: 0;
  margin: 0 0 0 -2.5rem;
  transform: translateY(-50%);
}

.right-coords:before {
  content: 'Y';
  top: 50%;
  left: auto;
  right:0;
  margin: 0 -2.5rem 0 0;
  transform: translateY(-50%);
}

#toggle-mode {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 6px #666;
  background: #c4c4c4;
  padding: 1.2rem;
  height: 4.5rem;
  width: 8rem;
  text-align: center;
  transition: background 400ms ease;
  cursor: pointer;
}

#toggle-mode i {
  position: absolute;
  top:60%;
  left:0;
  right:0;
  font-size: .8em;
  text-align: center;
}

.meta-show-simulation-controls #toggle-mode .simulation {
  display: block;
}

.meta-show-game-controls #toggle-mode .game {
  display: block;
}

#toggle-mode:hover{
  background: #aaa;
}

#toggle-mode span {
  display: none;
  position: absolute;
  left: 0;
  color: #000;
  right: 0;
  font-size:1rem;
  top:50%;
  transform: translateY(-50%);
}

#controls .simulation-controls {
  display: none;
}

.meta-show-simulation-controls #controls .simulation-controls {
  display: block;
}


#controls .game-controls {
  display: none;
}

.meta-show-game-controls #controls .game-controls {
  display: block;
}

#controls .game-controls.finish .reset-game {
  display: block;
}

#controls .game-controls .reset-game {
  position: absolute;
  right:2rem;
  line-height:initial;
  top:50%;
  transform:translateY(-50%);
  padding:1rem 2rem;
  font-size: 1.4rem;
  display: none;
}

#controls .game-controls .reset-game i,
#controls .simulation-controls .button i{
  font-size: .7rem;
  display: block; 
  text-align: center;
}

.game-controls .info {
  color: #333;
  font-size: .9rem;
  padding:0.2rem;
  display: inline-block;
}

.game-controls .results {
  margin-left: 2rem;
  display: inline-block;
}

.game-controls .result {  
  display: inline-block;
  margin-right: 0.5rem;
}

.game-controls .result .lang {  
  display: inline-block;
  margin-right: 0.3rem;
}

.game-controls .result:not(:last-child) {  
  padding-right:.5rem;
  border-right:1px solid #666;
}

.game-controls .results:before {
  content:'ALGORITHM RUN TIME';
  position: absolute;
  color: #333;
  text-transform: uppercase;
  font-size: .9rem;
  top:0.6rem;
}

.game-controls .results:empty:after {
  content:'Please run the algorithm to see the times';
  color: #333;
  font-size: .9rem;
  top:0.6rem;
}

#credits {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  color:#eee;
  height: 24px;
  line-height: 24px;
  text-transform: uppercase;
  vertical-align: middle;
  background: #333;
  text-align: center;
  font-size: 0.8rem;
}

#controls {
  display: block;
  background: #fff;
  box-shadow: 0px 0px 6px #333;
  position: fixed;
  bottom:24px;
  left:0;
  right:0;
  padding:1rem;
}

#controls .controls-wrapper > div:before{
  position: absolute;
  left: 1.2rem;
  top: .6rem;
  color: #333;
  text-transform: uppercase;
  font-size: .9rem;
}

#controls .simulation-controls:before {
  content:'Simulation mode';
}

#controls .game-controls:before {
  content:'Game mode';
}

.controls-wrapper{
  padding:1.5rem 0 .5rem 0;
}

.button, .button:link,.button:visited {
  padding:0.4rem 1rem;
  background: #666;
  color:#eee;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 400ms ease, color 400ms ease;
  display: inline-block;
  text-align: center;
  line-height: 110%;
}

.button:hover{
  background: #373737;
}

.selectbox-wrapper{
  position: fixed;
  top:0;
  left:50%;
  transform:translateX(-50%);
}

.selectbox {
  position: relative;
  background: #aaa;
  box-shadow: 0px 0px 6px #666;
  display: inline-block;
  margin:0 3rem 0 0;
}

.selectbox:last-of-type{
  margin-right: 0;
}

.selectbox select{
  padding:1.8rem 1rem 1.3rem 1rem;
  font-size: 1rem;
  background: #aaa;
  border:1px solid #aea8a8;
  display: block;
  min-width: 180px;
}

.selectbox:before{
  position: absolute;
  left:1.2rem;
  top:.6rem;
  color:#fff;
  text-transform: uppercase;
  font-size: .75rem;
}

#maps:before{
  content:'Choose a map';
}

#algorithms:before{
  content:'Select algorithm';
}

#info-control {
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0px 0px 6px #666;
  background: #c4c4c4;
  padding: 1.2rem;
  height: 4.5rem;
  width: 8rem;
  text-align: center;
  transition: background 400ms ease;
  cursor: pointer;
}

#info-control span {
  position: absolute;
  left: 0;
  color: #000;
  right: 0;
  font-size: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

#info {
  position: fixed;
  z-index: 999;
  left:50%;  
  min-width: 70vw;
  top:50%;
  transform:translateX(-50%) translateY(-50%);
  padding:1rem;
  background: #fff;  
  box-shadow: 0px 0px 6px #eee;
  display: none;
}

.info-wrapper {
  height:70vh;
  overflow: scroll;
  overflow-x: hidden;
}

#info h1 {
  font-weight:bold;
  margin:0 0 1rem 0;
  font-size: 1.2rem;
}

#info h2 {
  font-weight: bold;
  margin:0 0 0.4rem 0;
}

#info .par {
  clear:both;
}

#info .par + .par {
  margin-top:2rem;
}

#info p {
  line-height: 120%;
  color:#222;  
}

#info p + h2 {
  margin-top:0.8rem;
}

#info figure {
  margin:2rem 3rem 2rem 3rem;    
}

#info figure img {
  max-width: 30vw;
}

#info figure:nth-of-type(1) {  
  display: inline-block;
  clear:left;  
}

#info figure:nth-of-type(3) {  
  min-height: 280px;
}


#info figcaption {
  color:#333;
  font-style: italic;
  font-size: .9em;
  margin:0.5rem 0 0 0;
  text-align: center;
}

#info figure {
  float:left;
}

#info h3 {
  font-weight: bold;
  margin:0 0 0.2rem 0;
  display: block;
}

html.meta-show-info #overlay:before{
  content:'';
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  top:0;
  z-index:1;
  background: rgba(0,0,0,0.4);
}

html.meta-show-info #info {
  display: block;
}